<!-- <ion-header class="mobile-header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="myMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title></ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header> -->

<ion-row class="ion-align-items-center">
  <ion-col size="2">
    <ion-icon name="gift-outline"></ion-icon>
  </ion-col>
  <ion-col size="6">
    
  </ion-col>