<ion-menu side="start" menuId="first" contentId="main" >
  <ion-header (click)="cerrarCategorias()">
    <ion-toolbar color="primary">
      <ion-title>
        Categorias
      </ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content color="light">
    <ion-list >
      <ion-item button
                (click)="irInicio()">
        <ion-label>Todos los productos</ion-label>
      </ion-item>
      <ion-item *ngFor="let categoria of categorias" 
                button
                (click)="buscarPorCategoria(categoria)">
        <ion-label>{{ categoria.nombre | titlecase}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>