<!--<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" >
  <div id="grilla">
    <div id="contenedor" class="caja">
        <div id="contenedor_left">
          <ion-img id="imagen_left" src="../../assets/img/handmade.jpg"></ion-img>
        </div>

        <div id="contenedor_right">

          <div id="contenedor_up">
            <ion-img id="imagen_up" src="../../assets/icon/usuario-01.png"></ion-img>
          </div>

          <div id="contenedor_down">
              <input id="input_user" type="text" name="" class="form-control input_user" value="" placeholder="Usuario">
              <input id="input_pass" type="password" name="" class="form-control input_pass" value="" placeholder="Contraseña">
          </div>

        </div>
    </div>

    <div id="boton" type=button>
        <button id="login_click"><h1 id="login">LOGIN</h1></button>
    </div>

  </div>

</ion-content>