<!--<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" >
    <div id="contenedor">
        <div id="contenedor_left">
        </div>

        <div id="contenedor_right">

          <div id="contenedor_up">
          </div>

          <div id="contenedor_down">
              <input id="input_user" type="text" name="" class="form-control input_user" value="" placeholder="Usuario">
              <input id="input_pass" type="password" name="" class="form-control input_pass" value="" placeholder="Contraseña">
          </div>
          
        </div>
    </div>

    <div id="boton" type=button>
            <h1>sadsadsad</h1>
    </div>
</ion-content>