<ion-content>

  <!-- Componente header desktop -->
  <app-header></app-header>

  <app-menu-lateral></app-menu-lateral>

  <ion-title id="titulo">Productos</ion-title>

  <!-- desktop -->
  <ion-row class="ion-align-items-center cards desktop">
    <ion-col size="3">
      <ion-card>
        <ion-card-header>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuzxbKTo042SGLXYNIoYsnhBk7c_dLsMUlhQ&usqp=CAU "
            height="180px"
          />
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="3">
      <ion-card>
        <ion-card-header>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqmSvXI2YcX-nyH9yT_NeNIKPWr3EQGRqt5A&usqp=CAU"
            height="180px"
          />
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="3">
      <ion-card>
        <ion-card-header>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5bBlpLRKqvglE8jxj_IPCPPjmHN0hUo28vQ&usqp=CAU"
            height="180px"
          />
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="3">
      <ion-card>
        <ion-card-header>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjxHZMkaNhF51MyyzONlemdAa1lvkG9HcYivRmCYVq9LA-yhqm2wZZsklM_g2WRc2xL8E&usqp=CAU"
            height="180px"
          />
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row class="ion-align-items-center cards desktop">
    <ion-col size="3">
      <ion-card>
        <ion-card-header>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuzxbKTo042SGLXYNIoYsnhBk7c_dLsMUlhQ&usqp=CAU "
            height="180px"
          />
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="3">
      <ion-card>
        <ion-card-header>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSqmSvXI2YcX-nyH9yT_NeNIKPWr3EQGRqt5A&usqp=CAU"
            height="180px"
          />
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="3">
      <ion-card>
        <ion-card-header>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ5bBlpLRKqvglE8jxj_IPCPPjmHN0hUo28vQ&usqp=CAU"
            height="180px"
          />
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean.
        </ion-card-content>
      </ion-card>
    </ion-col>

    <ion-col size="3">
      <ion-card>
        <ion-card-header>
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjxHZMkaNhF51MyyzONlemdAa1lvkG9HcYivRmCYVq9LA-yhqm2wZZsklM_g2WRc2xL8E&usqp=CAU"
            height="180px"
          />
          <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
          <ion-card-title>Card Title</ion-card-title>
        </ion-card-header>

        <ion-card-content>
          Keep close to Nature's heart... and break clear away, once in awhile,
          and climb a mountain or spend a week in the woods. Wash your spirit
          clean.
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
