<ion-app>
  <ion-content>
    <ion-title id="titulo">Productos</ion-title>
    <ion-title id="titulo" *ngIf="categoria">Categoria: {{ categoria.nombre }}</ion-title>
    <!-- desktop -->
    <div class="cards">
      <ion-card id="card" *ngFor="let producto of productos">
        <ion-card-header>
          <img id="img_card"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRuzxbKTo042SGLXYNIoYsnhBk7c_dLsMUlhQ&usqp=CAU "
            height="180px"
          />
        </ion-card-header>

        <ion-card-content>
          <ion-card-title>Nombre: {{ producto.nombre | titlecase}}</ion-card-title>
          <ion-card-title>Categoria: {{ producto.categoria.nombre | titlecase }}</ion-card-title>
          <ion-card-subtitle>Cantidad: {{ producto.cantidad }}</ion-card-subtitle>
          <ion-card-subtitle>{{ producto.descripcion | titlecase}}</ion-card-subtitle>
        </ion-card-content>
      </ion-card>    
    </div>
  </ion-content>
</ion-app>
