<ion-app >
  <ion-menu side="start" menuId="first" contentId="main" >
    <ion-header >
      <ion-toolbar color="primary">
        <ion-title>Categorias</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content color="light">
      <ion-list >
        <ion-item>Categoria #1</ion-item>
        <ion-item>Categoria #2</ion-item>
        <ion-item>Categoria #3</ion-item>
        <ion-item>Categoria #4</ion-item>
        <ion-item>Categoria #5</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="main"></ion-router-outlet>
</ion-app>
