<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true" >

  <div id="contenedor">
    <div id="contenedor_dos">
      <div id="contenedor_tres">
        <div id="contenedor_cuatro">
          <ion-icon id="icono_gift" name="gift"></ion-icon>
        </div>
        <div id="contenedor_cinco">
          
            <ion-icon id="icono" name="person"></ion-icon>
            <div>
              <input id="input_user" type="text" name="" class="form-control input_user" value="" placeholder="    Usuario">
            </div>
            <div>
              <input id="input_pass" type="password" name="" class="form-control input_pass" value="" placeholder="    Contraseña">
            </div>
            <div id="boton">
              <ion-button  size="large" expand="block">LOGIN</ion-button>
            </div>
            
        </div>
          
      </div>

    </div>
  </div>
  <!-- <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div> -->
</ion-content>
